/*---------------------------------------------------------- Colors -------------------------------------------------------------------------------------- */

:root {
/*Color Scheme - https://realtimecolors.com/?colors=eef6fc-06141e-1e6699-091f2f-2ecdd6 */
--textCol: #eef6fc;

--backCol: #06141e;
--transCol: rgba(6, 20, 30, 0.75);

--primCol: #1e6699;
--secCol: #091f2f;
--accCol: #2ecdd6;

/* Gradients https://cssgradient.io/ */
--primGra: linear-gradient(90deg, rgba(30,102,153,1) 0%, rgba(46,205,214,1) 100%);
--backGra: radial-gradient(circle, rgba(14,58,89,1) 0%, rgba(6,20,30,1) 100%); 
}


/* Gradients */

/* Generic */
.gradient-highlight {
    background-color: var(--accCol);
    background-image: var(--primGra);
}

/* Text */
.gradient-text {
    background-color: var(--primCol);
    background-image: var(--primGra);

    /* display: inline-block */
    width: fit-content;
    background-size:100%;
    
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;

    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

/* Hover Animation */
@keyframes highlight-gradient-animation {
    0% {
        background-size: 100%;
        background-position: right;
        filter: contrast(100%);
    }

    50% {
        background-size: 150%;
        background-position: left;
        filter: contrast(150%);
    }

    100% {
        background-size: 100%;
        background-position: right;
        filter: contrast(100%);
    }
}



.gradient-highlight:hover {
    animation: highlight-gradient-animation 1.25s ease forwards;
}

.gradient-text:hover {
    animation: highlight-gradient-animation 1.25s ease forwards;
}

/*---------------------------------------------------------- Style Guide -------------------------------------------------------------------------------------- */

/* Style guide inspired by betterfuckingwebsite.com */
body {
    /* Reset Browser Default Margin */
    margin: 0;

    line-height: 1.5;
    font-size: 16pt;
    font-family: sans-serif;
    
    /* background is slightly more interesting as a gradient */
    background: var(--backCol);
    background: var(--backGra); 
    
    color: var(--textCol); 
}

/* Main Content Page */
.center{
    background: var(--transCol);

    margin-right: 6.25%;
    margin-left: 6.25%;   

    padding-top: 0.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

/* --------------------------------------------- Apply Style to other Primitive Classes ---------------------------------------------*/

/* --------------------------------------------- Header --------------------------------------------------------- */


p {
    display: inline;
    font-weight: normal;
}

h1 {
    color: var(--primCol);
    font-weight: 900;
    line-height: 1.1;
}

h2 {
    color: var(--primCol);
    font-weight: 800;
    line-height: 1.1;
}

h3 {
    color: var(--primCol);
    text-decoration: underline;
    text-decoration-color: var(--accCol);
    
    font-weight: 800;
    line-height: 1.1;
}

h4 {
    color: var(--textCol);
    text-decoration: underline;
    text-decoration-color: var(--primCol);
    
    font-weight: 700;
    line-height: 1.1;
}

hr {
    color: var(--accCol);
}

/* --------------------------------------------- Links --------------------------------------------------------- */

a {
    color: var(--accCol);
    text-decoration: underline;
    text-decoration-color: var(--accCol);

    font-weight: 500;
}

a:hover {
    
    text-shadow: 0pt 0pt 100pt var(--accCol);
    /* Incase it displays an svg */
    filter: drop-shadow(0pt 0pt 100pt var(--accCol));
    transition: 0.2s;

    animation: link-hover-animation 0.2s ease forwards, small-hop-animation 0.5s ease forwards;

    cursor: pointer;    
}

a:active {
    filter: drop-shadow(0pt 0pt 200pt var(--accCol));
    filter: blur(1pt);
    animation: big-hop-animation 0.5 ease forwards;
}

@keyframes link-hover-animation {
    0% {
        font-size: inherit;
        filter: none;
    }

    66%{
        font-size: 102%;
        filter: blur(2pt);
    }

    100% {
        font-size: inherit;
        filter: none;
    }
}


/* --------------------------------------------- Button --------------------------------------------------------- */

button {
    
    margin: 15pt;
    padding: 15pt;

    border-radius: 10%;
    border-width: 0;
    
    background-color: var(--secCol);    
    color: var(--textCol);
    
    text-align: center;
    display: inline-block;
    font-weight: bolder;

    line-height: 1.5;
    font-size: 16pt;
    font-family: sans-serif;

    box-shadow: 0 0 20pt var(--transCol);
}

button:hover {
    box-shadow:  0pt 0pt 150pt var(--secCol);
    cursor: pointer;
    filter: brightness(140%);
    transition: 0.25s;
    animation: small-hop-animation 0.5s ease forwards;
}

button:active {
    background-color: var(--primCol);
    box-shadow:  0pt 0pt 25pt var(--primCol);
    animation: big-hop-animation 0.5s ease forwards;
    transition: 0.125s;
}

@keyframes big-hop-animation {
    0% {
        transform: translateY(0pt) scale(1);
    }

    33% {
        transform: translateY(-10pt) scale(1.01);
    }

    100% {
        transform: translateY(0pt) scale(1);
    }
}

@keyframes small-hop-animation {
    0% {
        transform: translateY(0pt) scale(1);
    }

    33% {
        transform: translateY(-3pt) scale(1.01);
    }

    100% {
        transform: translateY(0pt) scale(1);
    }
}


/* --------------------------------------------- Lists --------------------------------------------------------- */

/* Unorderd Lists */
ul {
    list-style: none;
}

ul li::before {
    /*content: "\298A";
    content: "\2023";*/
    content: "\25B9";
    color: var(--accCol);
    margin-left: -20pt;
    margin-right: 5pt;
}

/* Ordered Lists */
ol {
    list-style: none;
    counter-reset: list_item_counter;
}

ol li::before {
    content: counter(list_item_counter);
    counter-increment: list_item_counter;
    color: var(--accCol);
    margin-left: -20pt;
    margin-right: 5pt;
    font-size: 75%;
    align-content: center;
}

/* --------------------------------------------- Containers --------------------------------------------------------- */

.container {
    background: var(--backCol);    
    color: var(--textCol);
    

    border-radius: 10pt;
    border-width: 0;
    padding: 15pt;


    display: inline-block;

    line-height: 1.5;
    font-size: 16pt;
    font-family: sans-serif;

    box-shadow: 0 0 10pt var(--transCol);
}

.container:hover {
    filter: brightness(105%);
    transition: 0.5s;
}

.secondary {
    background: var(--secCol);
}

.horzontal-flex {
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    align-content: stretch;
}

.vertical-flex {
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    align-content: stretch;
}

summary {
   cursor: pointer;
}

summary:hover {
    animation: small-hop-animation 0.5s ease forwards;
    text-shadow: 0 0 15pt var(--transCol);
}